## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [14]:
numero= 2
print(numero)

2

2) Imprimir el tipo de dato de la constante 8.5

In [8]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [15]:
type(numero)

int

4) Crear una variable que contenga tu nombre

In [11]:
nombre= "Hernan"

5) Crear una variable que contenga un número complejo

In [16]:
a= 4j + 5

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [17]:
type(a)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [131]:
pi= 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [136]:
a= 'True'
b= True
a==b

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [137]:
print('La variable 1 es de tipo ', type(a))
print('La variable 2 es de tipo ', type(b))

La variable 1 es de tipo  <class 'str'>
La variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [32]:
a= 5+2.45
print(a)

7.45

11) Realizar una operación de suma de números complejos

In [138]:
a= 4j+5
b= 3+2j
print(a+b)

(8+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [139]:
c= a+5
print(c)

(10+4j)

13) Realizar una operación de multiplicación

In [41]:
a=5*8
print(a)

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [140]:
a= 2**8
print(a)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [59]:
a= 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [63]:
b= 27//4
print(b)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [65]:
c= 27%4
print(c)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [75]:
4*6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [93]:
a= "apto"
b= " 30"
c=a+b
print(c)

apto 30

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [141]:
a="2"
b=2
a==b
# La operacion arroja que es falsa porque la variable a es de tipo str y la variable b es de tipo int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [103]:
a = "2"
a = int(a)
a==b

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [142]:
a = float('3.8')
# Porque python reconoce la "," como un separador de datos, y no para definir un decimal, para eso se usa el "."

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [143]:
a = -3
a -= 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [123]:
1 << 2
#Es una operacion binaria, donde el 1 se representa como 0001, y el numero 2, corresponde a la cantidad de 0 que se desplaza hacia la izquierda en este caso,
#quedando de esta forma 0100, que es el valor "4" en binario

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [145]:
# 2+'2' no se permite porque es la suma de un valor int y el otro es str
print(float(2) + float('2'))
print(int(2) + int('2'))
print(str(2) + str('2'))

4.0
4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [130]:
a = "hola " * 3
print (a)

hola hola hola